<%= form_tag "/contacts/create", method: :post do %>

  <div>
      Enter first name: <input type="text" id = "first_name" >
  </div>
  <div>
      Enter middle name: <input type="text" id = "middle_name" >
  <div>
    Enter last name: <input type="text" id = "last_name" >
  </div>
  <div>
    Enter phone number: <input type="text" id = "phone_number" >
  </div>
  <div>
    Enter Bio: <input type="text" id = "bio" >

  <input type = "submit">
<% end %>