<div>
    <% if @contact &&  @contact.errors.any? %>
      <h4> <%= @@contact.errors.count %> errors prohibited this item to be created </h4>
      <ul> 
          <% @contact.errors.full_message.each do |message| %> 
            <li><%= message %> </li>
          <% end %> 
      </ul>
      <% end %>
</div>


<%= form_tag "/contacts/create", method: :post do %>

  <div>
      Enter first name: <input type="text" id = "first_name" >
  </div>
  <div>
      Enter middle name: <input type="text" id = "middle_name" >
  <div>
    Enter last name: <input type="text" id = "last_name" >
  </div>
  <div>
    Enter phone number: <input type="text" id = "phone_number" >
  </div>
  <div>
    Enter Address: <input type="text" id= "address" >
  <div>
    Enter Bio: <input type="text" id = "bio" >

  <input type = "submit">
<% end %>
